<a href="https://colab.research.google.com/github/Eng-abdelhamed/Exercises-and-Assignmentss/blob/main/3_exercise_summary_functions_and_maps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Now you are ready to get a deeper understanding of your data.

Run the following cell to load your data and some utility functions (including code to check your answers).

In [2]:
import pandas as pd
reviews = pd.read_csv("winemag-data_first150k.csv", index_col=0,chunksize= 10000)
reviews = next(reviews)

reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

# Exercises

## 1.

What is the median of the `points` column in the `reviews` DataFrame?

In [3]:
median_points = reviews['points'].median()
median_points

88.0

## 2.
What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [8]:
countries = reviews['country'].unique()
countries

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil'],
      dtype=object)

## 3.
How often does each country appear in the dataset? Create a Series `reviews_per_country` mapping countries to the count of reviews of wines from that country.

In [9]:
reviews_per_country = reviews['country'].value_counts()
reviews_per_country

country
US                        4091
France                    1958
Italy                     1429
Spain                      648
Portugal                   425
Germany                    287
Chile                      259
Argentina                  244
Austria                    170
Australia                   93
New Zealand                 76
Israel                      45
Greece                      37
Canada                      35
Slovenia                    33
Turkey                      23
Moldova                     19
Bulgaria                    18
South Africa                18
Romania                     16
Hungary                     14
Serbia                      10
Uruguay                     10
Morocco                      9
Croatia                      7
Lebanon                      7
India                        6
Macedonia                    5
Switzerland                  2
Albania                      2
Bosnia and Herzegovina       1
Brazil                       1
Name: count, dtype: int64

## 4.
Create variable `centered_price` containing a version of the `price` column with the mean price subtracted.

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

In [12]:
centered_price = (reviews['price'] - reviews['price'].mean())
centered_price

0       200.006025
1        75.006025
2        55.006025
3        30.006025
4        31.006025
           ...
9995    -15.993975
9996    -24.993975
9997    -21.993975
9998    -23.993975
9999    -24.993975
Name: price, Length: 10000, dtype: float64

# Keep going